@font-face {
	src: url('../fonts/UbuntuCondensed-Regular.ttf');
	font-family: 'ubuntu';
}
* {
	font-family: 'ubuntu';
}


body {
	background-color: #e9e9e9;
}

.btn {
	border-radius: 0px !important;
}

input, input:focus {
	border-radius: 0px !important;
	outline: none !important;
	box-shadow: none !important;
	border: 1px solid #ccc !important;
}
input[type="submit"]  {
	border: 1px solid transparent !important;
}

.wrap {
	width: 500px;
	margin: 50px auto 0px;

}

.wrap-table {
	width: 1400px;
	margin: 50px auto 0px;

}
.wrap-table table tr td {
	vertical-align: middle !important;
	padding: 3px 5px;
}

.wrap-table table tr td img {
	width: 50px;
	height: 50px;
	vertical-align: middle !important;
} 

.wrap-table table tbody tr td:first-child{
	width: 30px !important;
}
.wrap-table table tbody tr td:last-child{
	text-align: right;
	width: 160px;
}